<div class="container">
    <div class="page-header">
        <span style="font-size: 50pt;"><%= @automation_set.name %>
          <small></small>
        </span>
    </div>
    <div class="row">
    <% @automation_set.automation_jobs.each do |job| %>
        <% last_build = job.automation_builds.order("number desc").first %>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                <%= job.name %>
                <%= link_to "Kickoff", new_automation_job_path(job.name), :class=>"btn btn-default btn-sm", remote: true %>
              <div id="task-form" style="display:none;"></div>
                <div id="job-form" style="display:none;"></div>
                </div>
                <div class="panel-body">
                    <a href="<%=last_build.url%>" target="_BLANK" title="<%= last_build.full_name %>"><span style="font-size: 20pt;">#<%= last_build.number%> </span></a><br/><br/>
                    <% if last_build.building == true %>
                    <div class="progress" style="width:100%;border:2px solid green;">
                      <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width: <%= last_build.progress%>%;">
                        <span style="font-size: 40pt;height: 100%;padding-top: 20px;"><%= last_build.progress%>%</span>
                      </div>
                    </div>
                    <div class="progress" style="width:100%;border:2px solid green;">
                      <div class="progress-bar progress-bar-success" style="width: <%=last_build.green_percent%>%">
                        <span style="font-size: 40pt;height: 100%;padding-top: 20px;"><%=last_build.success_cases_count%></span>
                      </div>
                      <div class="progress-bar progress-bar-danger" style="width: <%=100-last_build.green_percent%>%">
                        <span style="font-size: 40pt;height: 100%;padding-top: 20px;"><%=last_build.failed_cases_count%></span>
                      </div>
                    </div>
                    <div class="bs-callout bs-callout-info" id="callout-glyphicons-location">
                        <p>Elapsed Time</p>
                        <h1><%= Time.at(last_build.elapsed_time).utc.strftime("%H:%M:%S") %></h1>
                        <p>Started At</p>
                        <h1><%= last_build.start_time.in_time_zone("Beijing").strftime("%Y %m %d %H:%M:%S %z") %></h1>
                        <p>ETA(Estimated Time of Arrival)</p>
                        <h1><%= last_build.start_time.in_time_zone("Beijing").strftime("%Y %m %d %H:%M:%S %z") %></h1>
                    </div>
                    <% else %>
                    <div class="progress" style="width:100%;border:2px solid green;">
                        <div class="progress-bar progress-bar-success active <%= last_build.result %>" role="progressbar" style="width: 100%;">
                          <span style="font-size: 40pt;height: 100%;padding-top: 20px;">100%</span>
                        </div>
                    </div>
                    <div class="progress" style="width:100%;border:2px solid green;">
                        <div class="progress-bar progress-bar-success" style="width: <%=last_build.green_percent%>%">
                          <span style="font-size: 40pt;height: 100%;padding-top: 20px;"><%=last_build.success_cases_count%></span>
                        </div>
                        <div class="progress-bar progress-bar-danger" style="width: <%=100 - last_build.green_percent%>%">
                          <span style="font-size: 40pt;height: 100%;padding-top: 20px;"><%=last_build.failed_cases_count%></span>
                        </div>
                    </div>
                    <div class="bs-callout bs-callout-info" id="callout-glyphicons-location">
                        <p>Started At</p>
                        <h1><%= last_build.start_time.in_time_zone("Beijing").strftime("%Y %m %d %H:%M:%S %z") %></h1>
                        <p>Duration</p>
                        <h1><%= Time.at(last_build.duration).utc.strftime("%H:%M:%S") %></h1>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
    </div>
</div>

